.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.json
*.*.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package.json
package-lock.json
yarn.lock

# generated types
bloks.d.ts