@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: theme('colors.background.DEFAULT');
  background-color: theme('colors.foreground.DEFAULT');
}

:root {
  --topnav-height: 76px;
}
