---
import Base from "../layouts/Base.astro";
---

<Base
  title="Page Not Found"
  description="The page you're looking for doesn't exist."
>
  <section>
    <h1>404</h1>
    <p>The page you're looking for doesn't exist.</p>
    <a href="/">Go home</a>
  </section>
</Base>
